<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 푸터 -->
<div th:fragment="footer">

    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="d-flex justify-content-center">
                <!-- 이미지 부분 -->
                <div>
                    <a href="https://www.kead.or.kr/campus/grdthome/cntntsPage.do?menuId=MENU1050"><img src="/img/footer4.png" style="margin-right: 15px;"></a>
                    <a href="https://www.poscofoundation.org/"><img src="/img/footer3.png" style="margin-right: 15px;"></a>
                    <a href="https://www.walktogether.or.kr/"><img src="/img/footer1.png" style="margin-right: 15px;"></a>
                    <a href="https://www.sw.or.kr/site/sw/main.do"><img src="/img/footer2.png" style="margin-right: 15px;"></a>
                </div>
            </div>
            <div class="text-center my-auto mt-3">
                <span>Copyright &copy; 2024 KokeeTea. All Rights Reserved.</span>
            </div>
        </div>
    </footer>

</div>
</html>